.text-editor {
  margin-top: 1.5rem;
}
.cke_chrome {
  border: none !important;
}
.cke_top {
  border-bottom: none !important;
  background-color: $white !important;
  padding: 0 !important;
  margin: 0 -0.5rem !important;
}
.cke_contents {
  border: 1px solid #e6e6e6 !important;
  border-radius: 10px;
  margin-top: 1rem !important;
}
.cke_path {
  display: none;
}
.cke_bottom {
  border-top: none !important;
  background-color: $white !important;
}
