.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  @media screen and(max-width:991.98px) {
    flex-direction: column;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    position: sticky;
    top: 0;
    padding: 0;
    position: relative;
  }
  .left-header {
    width: 25.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and(max-width:991.98px) {
      width: 100%;
      padding: 1rem;
      background: $white;
      position: relative;
      z-index: 11;
    }
    .menu {
      margin-right: 1rem;
      border: 1px solid $lightGray;
      padding: 0.3rem 0.7rem;
      font-size: 1.3rem;
      border-radius: 0.25rem;
      cursor: pointer;
      background: $white;
      display: none;
      @media screen and(max-width:991.98px) {
        display: block;
      }
    }
    .search {
      position: relative;
      width: 100%;
      font-size: 1rem;
      @media screen and(max-width:1130px) {
        width: 300px;
      }
      @media screen and(max-width:991.98px) {
        width: 0;
        overflow: hidden;
        pointer-events: none;
        transition: 0.2s ease-in-out;
        &.active {
          width: 100%;
        }
      }
      i {
        position: absolute;
        left: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        color: $gray;
      }
      input {
        border-radius: 2rem;
        padding-left: 3.0625rem;
        border: none !important;
      }
    }
    .exit {
      display: flex;
      align-items: center;
      cursor: pointer;
      @media screen and(max-width:991.98px) {
        display: none;
      }
      span {
        width: 2.875rem;
        height: 2.875rem;
        margin-right: 0.5rem;
        background-color: $lightGray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          opacity: 1;
        }
      }
    }
    .icons {
      display: none;
      @media screen and(max-width:991.98px) {
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        .exit {
          display: flex;
        }
        i {
          margin-left: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
  .right-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 400px);
    @media screen and(max-width:991.98px) {
      width: 100%;
      padding: 1rem;
      background: $white;
      transition: 0.2s ease-in-out;
      position: absolute;
      top: 0;
      border-top: 1px solid $lightGray;
      z-index: 1;
      &.active {
        top: 4.9rem;
      }
    }
    .language {
      position: relative;
      @media screen and(max-width:991.98px) {
        border-right: none;
        margin-right: 1rem;
        padding-right: 0;
      }
      .language-btn {
        border: 1px solid $borderColor;
        border-radius: 2rem;
        padding: 0.1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $gray;
      }
      img {
        width: 1.5rem;
        margin-right: 0.5rem;
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 2.5rem;
        border: 1px solid $lightGray;
        background: $white;
        width: 5rem;
        transition: 0.2s ease-in-out;
        transform-origin: top left;
        transform: scale(0);
        @media screen and(max-width:991.98px) {
          left: 0;
        }
        &.active {
          transform: scale(1);
        }
        li {
          font-size: 90%;
          padding: 0.2rem 0.5rem;
          color: $gray;
          cursor: pointer;
          &:hover {
            background: $lightGray;
            color: $black;
          }
        }
      }
    }
    .page-settings {
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      margin: 0 1.5rem;
      padding: 0 1.5rem;
      @media screen and(max-width:991.98px) {
        border-right: none;
        margin-right: 1rem;
        padding-right: 0;
      }
      & > ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        & > li {
          padding: 0.344rem 0.5rem;
          margin-right: 0.5rem;
          cursor: pointer;
          color: $gray;
          &:hover {
            color: $black;
          }
          &:nth-child(2) {
            position: relative;
            & > div.active {
              transform: scale(1);
              @media screen and(max-width:575.98px) {
                transform: translateX(-50%);
                opacity: 1;
                pointer-events: unset;
              }
            }
            & > div {
              position: absolute;
              z-index: 11;
              width: 200px;
              top: 3rem;
              transform-origin: top left;
              transition: 0.3s ease-in-out;
              transform: scale(0);
            }
            ul {
              border-radius: 1rem;
              list-style: none;
              padding-left: 0;
              margin-bottom: 0;
              background: $white;
              li {
                a {
                  display: block;
                  text-decoration: none;
                  color: $gray;
                  padding: 0.5rem 0.8rem;
                  &:hover {
                    color: $black;
                  }
                }
              }
            }
          }
          &:last-child {
            margin-right: 0;
            position: relative;
            & > div.active {
              transform: scale(1);
              @media screen and(max-width:575.98px) {
                transform: translateX(-50%);
                opacity: 1;
                pointer-events: unset;
              }
            }
            & > div {
              top: 3rem;
              min-width: 310px;
              width: 100%;
              right: 0;
              position: absolute;
              z-index: 1111;
              transform-origin: top right;
              transition: 0.3s ease-in-out;
              transform: scale(0);
              border-radius: 1rem;
              @media screen and(max-width:575.98px) {
                opacity: 0;
                pointer-events: none;
                right: unset;
                left: 50%;
                transform: translateX(-50%);
                padding-top: 3rem;
              }
              @media screen and(max-width:400px) {
                min-width: 300px;
              }
              h3 {
                padding: 1rem;
                border-bottom: 1px solid $lightGray;
                background: $white;
                margin-bottom: 0;
                border-radius: 1rem 1rem 0 0;
              }
            }
            ul {
              list-style: none;
              padding-left: 0;
              margin-bottom: 0;
              background: $white;
              max-height: 20rem;
              overflow: auto;
              /* width */
              &::-webkit-scrollbar {
                width: 8px;
              }

              /* Track */
              &::-webkit-scrollbar-track {
                background: $white;
              }

              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: $lightGray;
                border-radius: 0.25rem;
              }

              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: $gray;
              }
              li {
                &:last-child {
                  a {
                    border-bottom: 0 !important;
                  }
                }
                a {
                  display: flex;
                  justify-content: space-between;
                  padding: 0.5rem 1rem;
                  text-decoration: none;
                  border-bottom: 1px solid $lightGray;
                  font-size: 0.875rem;
                  .icon {
                    &.comment {
                      span {
                        background: $red;
                      }
                    }
                    &.user {
                      span {
                        background: $blue;
                      }
                    }
                    span {
                      width: 3rem;
                      height: 3rem;
                      display: flex;
                      border-radius: 50%;
                      align-items: center;
                      justify-content: center;
                      font-size: 1.25rem;
                      color: $white;
                      margin-right: 0.6rem;
                    }
                  }
                  p {
                    color: $black;
                    margin-bottom: 0;
                  }
                  span {
                    color: $gray;
                    font-size: 80%;
                    white-space: nowrap;
                  }
                }
              }
            }
            a.all {
              border-top: 1px solid $lightGray;
              color: $gray;
              text-decoration: none;
              background: $white;
              display: block;
              font-size: 0.875rem;
              border-radius: 0 0 1rem 1rem;
              padding: 1rem;
              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
    .user {
      display: flex;
      cursor: pointer;
      &:focus {
        .user-opt {
          transform: scale(1);
          @media screen and(max-width:575.98px) {
            transform: translateX(-50%);
            opacity: 1;
            pointer-events: unset;
          }
        }
      }
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 0.5rem;
      }
      & > div:not(.user-opt) {
        white-space: nowrap;
        h6 {
          font-weight: 700;
          margin-bottom: 0;
          color: $black;
        }
        small {
          color: $gray;
        }
      }
      .user-opt {
        position: absolute;
        z-index: 11;
        width: 200px;
        top: 5rem;
        transform-origin: top right;
        transition: 0.3s ease-in-out;
        transform: scale(0);
        right: 1rem;
        ul {
          border-radius: 1rem;
          list-style: none;
          padding-left: 0;
          margin-bottom: 0;
          background: $white;
          li {
            a {
              display: block;
              text-decoration: none;
              color: $gray;
              padding: 0.5rem 0.8rem;
              font-size: 0.875rem;
              &:hover {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
