.home {
  padding: 1rem 2rem;
  @media screen and(max-width:991.98px) {
    padding: 1rem;
  }
  .greeting {
    font-weight: 400;
    strong {
      color: $black;
    }
  }
  .calender {
    background: $white;
    border-radius: 1rem;
    margin: 1rem 0;
    .calender-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.875rem;
      padding-bottom: 0;
      & > div {
        h3 {
          color: $black;
        }
      }
      .plus {
        background: $red;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        color: $white;
      }
    }
    .calender-filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 1.875rem;
      margin-bottom: 1rem;
      input {
        width: 15rem;
        border-radius: 2rem;
        margin: 1rem 0;
        color: $gray;
        height: 3.125rem;
      }
      input[type='month']::-webkit-calendar-picker-indicator {
        background-image: url('../images/icons/input-calendar.svg');
        // background-image: none;
        background-size: cover;
        background-position-x: left;
        &::after {
          content: 'f107';
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
        }
      }
      & > div {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        p {
          margin-bottom: 0;
          margin-right: 1rem;
        }
        .sort {
          border: 1px solid $borderColor;
          border-radius: 0.25rem;
          padding: 0.4rem 0.6rem;
        }
      }
    }
    .calender-body {
      padding: 0 1.875rem 1.875rem;
      height: 33rem;
      overflow: auto;
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $white;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $lightGray;
        border-radius: 0.25rem;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $gray;
      }
      .calender-inner {
        background: $background;
        padding: 1rem;
        border-radius: 1rem;
        min-width: 768px;
        overflow: auto;
        .calender-inner-header {
          display: flex;
          justify-content: space-between;
          // padding: 0 1rem;
          & > div {
            padding: 0 1rem;
            width: calc(100% / 7);
            text-align: center;
          }
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            font-size: 0.75rem;
            cursor: pointer;
            &.active {
              border: 1px solid $red;
              border-radius: 1rem;
            }
            strong {
              color: $black;
              font-size: 0.875rem;
            }
          }
        }
        .calender-inner-time {
          display: flex;
          justify-content: space-between;
          background: $white;
          border-radius: 2rem;
          padding: 1rem 0;
          margin: 1rem 0;
          color: $black;
          font-size: 0.5625rem;
          box-shadow: 0 5px 15px transparentize($color: $black, $amount: 0.9);
          & > div {
            width: calc(100% / 7);
            text-align: center;
            padding: 0 1rem;
          }
          span {
            padding: 0.2rem 1rem;
            cursor: pointer;
            &.active {
              background: $red;
              border-radius: 2rem;
              color: $white;
            }
          }
        }
        .calender-inner-body {
          .project-item {
            position: relative;
            .project-header {
              position: relative;
              left: 10%;
              background: $red;
              color: $white;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 1rem;
              border-radius: 1rem;
              width: 15rem;
              box-shadow: 0px 14px 58px $lightRed;
              &:last-of-type {
                position: absolute;
                top: 20%;
                left: 45%;
                padding: 0.5rem 1rem;
                box-shadow: 0px 14px 58px $lightGray;
              }
              & > div {
                h6 {
                  margin-bottom: 0;
                }
                span {
                  font-size: 0.75rem;
                  font-weight: 300;
                }
              }
              i {
                cursor: pointer;
              }
            }
            img {
              position: absolute;
              left: 33%;
              top: 50%;
              z-index: 1;
            }
            ul {
              position: relative;
              z-index: 11;
              left: 10%;
              margin-top: 1rem;
              margin-left: 2.5rem;
              width: 10.3125rem;
              list-style: none;
              padding-left: 0;
              margin-bottom: 0;
              background: $white;
              border-radius: 1rem;
              padding: 1rem;
              li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                &:last-child {
                  margin-bottom: 0;
                }
                & > div {
                  position: relative;
                  padding-left: 1rem;
                  h6 {
                    font-weight: 700;
                    margin-bottom: 0;
                    font-size: 0.625rem;
                  }
                  small {
                    font-size: 0.5625rem;
                  }
                  &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    background: $red;
                    left: 0;
                    top: 0;
                  }
                }
                span {
                  font-size: 0.5625rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .award {
    background: $white;
    border-radius: 1rem;
    padding: 1.875rem;
    margin: 1rem 0;
    p {
      font-size: 0.8125rem;
    }
    & > div:not(.border-top) {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: $lightRed;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 2.5rem;
      }
    }
  }
  .project {
    background: $white;
    border-radius: 1rem;
    padding: 1.875rem;
    margin: 2rem 0;
  }
  .commission,
  .top-seller,
  .chats,
  .lead {
    background: $white;
    padding: 1.875rem;
    margin: 1rem 0;
    border-radius: 1rem;
  }
  .top-seller {
    min-height: 510px;
    overflow: auto;
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;
        padding: 1rem;
        background: $background;
        border-radius: 0.25rem;
        h6 {
          font-size: 1.125rem;
          margin-bottom: 0;
        }
        small {
          font-size: 1rem;
        }
      }
    }
  }
  .lead {
    .lead-body {
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 2rem;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;
          span {
            svg {
              width: 54px;
              height: 54px;
              background: #ffdac8;
              padding: 1rem;
              border-radius: 1.25rem;
              margin-right: 1.3125rem;
            }
            &:first-child {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 700;
              color: $black;
              font-size: 1rem;
            }
            &:last-child {
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
              border: 4px solid $red;
              font-size: 0.6875rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  .chats {
    .chat-body {
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        min-height: 298px;
        overflow: auto;
        li {
          width: 75%;
          margin: 1rem 0;
          padding: 1rem;
          font-size: 1rem;
          @media screen and (max-width: 991.98px) {
            width: 80%;
          }
          @media screen and (max-width: 767.98px) {
            width: 90%;
          }
          @media screen and (max-width: 575.98px) {
            width: 95%;
          }
          &:nth-child(odd) {
            background: $background;
            margin-left: auto;
            border-radius: 1rem 1rem 0 1rem;
          }
          &:nth-child(even) {
            margin-right: auto;
            background: $lightYellow;
            border-radius: 1rem 1rem 1rem 0;
          }
        }
      }
      .message-box {
        position: relative;
        margin-top: 1rem;
        input {
          font-size: 1rem;
          border-radius: 2rem;
          padding-right: 2.5rem;
        }
        i {
          position: absolute;
          right: 1rem;
          top: 1rem;
          font-size: 0.8rem;
          color: $red;
        }
      }
    }
  }
}
