* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  // @media screen and(max-width: 991.98px) {
  //   font-size: 15px;
  // }
  // @media screen and(max-width:767.98px) {
  //   font-size: 14.5px;
  // }
}
body {
  font-family: $poppins;
  font-size: 1.125rem;
  background: $background;
  color: $gray;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
main {
  width: calc(100vw - 244px);
  transition: width 0.3s ease-in-out;
  @media screen and(max-width: 991.98px) {
    width: 100%;
  }
  &.full-width {
    width: 100%;
  }
}
input,
select,
textarea {
  border: 1px solid $lightGray !important;
  color: $gray !important;
  border-radius: 2rem !important;
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: $lightGray !important;
  }
}
.form-select {
  background-image: url('../images/icons/chevron-down.svg');
  background-size: auto;
}
.text-black {
  color: $black !important;
}
.btn {
  border-radius: 2rem;
}
.border,
.border-top,
.border-right,
.border-bottom,
.border-left {
  border-color: $lightGray;
}
.btn-red {
  background: $red;
  color: $white;
  font-size: 1rem !important;
  &:hover {
    color: $white;
    box-shadow: 0px 11px 17px rgba(230, 89, 18, 0.15);
  }
  &:active,
  &:focus {
    border-color: none;
    outline: none;
    box-shadow: 0px 11px 17px rgba(230, 89, 18, 0.15);
  }
}
.btn-outline-red {
  border: 1px solid $red;
  color: $red;
  &:hover {
    color: $white;
    background: $red;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 111;
  background: transparentize($color: $black, $amount: 0.7);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.hide {
  opacity: 0;
  pointer-events: none;
}

.title-header {
  display: flex;
  justify-content: space-between;
  // padding: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  & > div {
    h3 {
      color: $black;
    }
  }
  .info {
    font-size: 1.3rem;
  }
}
.bg-red {
  background-color: $red !important;
}
.section-shadow {
  box-shadow: 0 10px 50px transparentize($color: $black, $amount: 0.97);
}
h3 {
  font-size: 1.5rem;
}
small,
.small {
  font-size: 0.8125rem;
}
.plus-btn {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background: $red;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 2rem 0;
  .left {
    width: 50%;
    margin-bottom: 1rem;
    .search {
      position: relative;
      i {
        position: absolute;
        left: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        padding-left: 3.0625rem;
      }
    }
    input,
    select {
      font-size: 1rem !important;
      height: 3.5rem;
      margin-right: 0.8rem;
    }
  }
  .right {
    width: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    input,
    select {
      font-size: 1rem !important;
      margin-left: 0.8rem;
    }
  }
}
.form-select-lg,
.form-control-lg {
  height: 3.5rem !important;
}
.form-check-input:checked {
  background-color: $red;
}
