$white: #ffffff;
$gray: #8c8c8c;
$lightGray: #dedede;
$black: #000000;
$red: #e65912;
$orange: #f08418;
$yellow: #f9ac1e;
$blue: #1e83f9;
$background: #f6f6f6;
$green: #20aa14;
$deepGreen: #20aa14;
$lightGreen: #d3e7ca;
$lightRed: #ffdac8;
$lightYellow: #ffecc5;
$borderColor: #c4c4c4;
$lightDeepGreen: #d9ffc8;

//font
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$googleSans: 'Google Sans', sans-serif;
